.text-style1-big {
  font-size: 5rem;
  margin-top: 10rem;
  color: steelblue;
}

.bg-dark {
  background-color: #9AA4EC !important;
}

.space-10 {
  margin-top: 10rem; 
}

.space-5{
  margin-top: 5rem;
}

.space-1 {
  margin-top: 10px;
}

.btn-outline-secondary {
  color:  #6474E5;
  border: 2px solid #6474E5;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active{
  color: rgb(255, 255, 255);
  background-color: #6474E5 !important;
  border: 2px solid #6474E5;
}


.gradient-bg {
  
  box-shadow: 1px 10px 5px 1px #6474E5;
}